/*-------------- GLOBAL SETTINGS ---------------------*/
body {
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
	width: 100%;
}
a {
	color:#0078a8;
}
details summary {
	color:grey;
	font-weight:bold;
	cursor:pointer;
	font-weight:bold;
	cursor: pointer;
}
h1, h2, h3 {
	display:block;
	padding:0px;
	margin:0px;
}
h1 {
	font-size:20px;
}
h2 {
	font-size:14px;
	color:grey;
}
input[type=button] {
	margin:10px;
}
input[type=checkbox] {
	margin-top:5px;
}
input[type=text] {
	border:none;
	border-bottom:1px solid #ff531a;
}
section {
	display:flex;
	width:100%;
	height:100%;
}
/*---------------------- POI DETAILS SETTINGS -------------------------------*/
.tabcontent {
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	word-wrap:break-word;
	display:none;
}
.tabcontent ul {
	margin:0px;
	margin-left:3px;
	padding-left:10px;
	list-style-type: circle inside;
}
.tabcontent details ul {
	font-weight:initial;
	color:black;
	padding-left:20px;
	margin:0px;
	font-size:12px;
}
.pdv-icon {
	box-sizing:border-box;
	padding:2px;
	font-size:25px;
	cursor:pointer;
	text-align:center;
}
.small-icon {
	height:20px;
	width:20px;
	font-size:20px;
	color:#006691ff;
	margin-top:5px;
	margin-left:5px;
	margin-right:20px;
	cursor:pointer;
}
.text-icon {
	height:15px;
	width:18px;
	vertical-align:text-bottom;
}
.list-style-none {
	list-style-type:none;
	margin-left:-10px;
}
.inactive {
	opacity:0.4;
}
.active:hover {
	color:#b53085;
}
.active[active] {
	color:#b53085;
}
.grid-container {
	display:grid;
	grid-template-columns:auto auto;
	justify-content:start;
}
.subtitle {
	color:#333333;
	font-size:12px;
}
.openinghours {
	color:black;
}
.socialmenu {
	display:flex;
	padding:3px;
}
.marker-active { /* Style for the active marker, the marker the user has clicked on */
	filter: brightness(300%);
}
.oneline-babyfriendliness {
	font-size:12px;
}
/*---------------------- COLOUR CODES FOR BABY FRIENDLINESS TAB -------------------------------- */
.color-green {
	color:#339933;
}
.color-red {
	color:#ff2526;
}
.color-yellow {
	color:#e6a400;
}
.color-grey {
	color:#858585;
}
.nounderlinestyle {
	text-decoration:none;
}
/*-------------------- LEFT BAR SETTINGS ----------------------------*/
.leftbar {
	width:45px;
	font-family:"Courier New", Courier, monospace;
	background-color:white;
}
.bar-icon {
	height:25px;
	width:25px;
}
.bar-icon:hover {
	cursor:pointer;
}
.menuitem {
	padding:10px;
}
.lang-select {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	top:45px;
}
.searchbar {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	top:90px;
}
.about {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	top:0px;
}
.closebtn {
	float:right;
	padding:5px;
	font-size:24px;
	color:white;
}
.beautifulmenu {
	/*padding-left:10px !important;*/
	padding-right:10px !important;
	width:450px;
}
.bigmenu {
	padding:0px !important;
	top:0px;
	height:100% !important;
}
.dropdown-menu {
	background-color:white;
	left:45px;
	padding:10px;
	display:none;
	height:25px;
	z-index:2;
	position:absolute;
}
.dropdown-menu a {
	box-sizing:border-box;
	display:inline-block;
	text-align:center;
}
.dropdown-menu a:hover {
	color:#b53085;
}
.dropdown-active { /* Style for opened dropdowns (tab, sub menus) */
	display:block;
}
.item-active { /* Style for clicked (active) tab labels (menus) */
	
}
#filtersGround label {
	display:block;
	margin-top:5px;
	cursor:pointer;
}
#autocomplete {
	background-color:white;
	display:none;
	padding:5px;
	z-index:5;
	top:0px;
	box-sizing:border-box;
}
#autocomplete ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
	color:#142a52;
}
#autocomplete li {
	list-style-type:none;
	padding-top:5px;
	padding-bottom:5px;
}
#autocomplete li:hover {
	cursor:pointer;
	background-color:rgb(255, 64, 0, 0.6);
}
#poidetails {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14px;
}
/*------------------------- ON MAP MODALS -----------------*/
.custom-leaflet-icon {
	margin-top:6px !important;
	margin:5px !important;
}
.own-control-style {
	margin:5px;
	border-radius:10px;
	padding:5px;
	background-color: rgba(0, 0, 0, 0.7);
}
.leaflet-bar {
	margin:0px !important;
	background-color: rgb(255, 255, 255);
	border-radius:5px;
}

.info {
	display:none;
	font-size:22px;
	top:0px;
	position:absolute;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	z-index:403;
	width:100%;
}
#map{
	z-index:1;
	flex:1;
}
#map-overlay-notify {
	z-index:401;
	position:absolute;
	width:100%;
	height:100%;
	padding-top:30%;
	padding-bottom:30%;
	font-size:26px;
	text-align:center;
	color:white;
	display:none;
	background-color:rgba(0,0,0,0.7);
}
/*@media only screen and (min-width:800px) {
	#map-overlay-notify {
		display:none !important;}
}*/
#infoPopup {
	margin:auto;
	width:400px;
	margin-bottom:10px;
	padding:5px;
	border-radius:15px;
	background-color:rgba(204, 51, 0, 0.6);
}
/* ---------------------- SPINNER ---------------------------- */
#spinner {
	display:flex;
	height:50px;
	width:100%;
	position:absolute;
	z-index:402;
	margin-left:40%;
	margin-right:40%;
	margin-top:10px;
}
#spinner .circle {
	width:50px;
	height:50px;
	border-radius:50px;
	margin-right:5px;
	background-color:white;
}
#spinner #circle1 {
	animation-name:load1;
	animation-duration:1s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
#spinner #circle2 {
	animation-name:load2;
	animation-duration:1s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
#spinner #circle3 {
	animation-name:load3;
	animation-duration:1s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
@keyframes load1 {
	0% {background-color:white;}
	50% {background-color:#ff531aff;}
	100% {background-color:white;}
}
@keyframes load2 {
	0% {background-color:white;}
	20% {background-color:white;}
	40% {background-color:white;}
	60% {background-color:#ff531aff;}
	100% {background-color:white;}
}
@keyframes load3 {
	0% {background-color:white;}
	20% {background-color:white;}
	40% {background-color:white;}
	60% {background-color:white;}
	80% {background-color:#ff531aff;}
	100% {background-color:white;}
}
/* ---------------------- POI RATING SYSTEM ------------------ */
#rating-default {
	fill:none;
}
#rating-green {
	fill:#01c401;
	stroke:white;
}
#rating-yellow {
	fill:#ffd900;
	stroke:white;
}
#rating-red {
	fill:#bb0202;
	stroke:white;
}
/*------------------------ MOBILE VIEW ------------------------*/
@media only screen and (max-width:800px) {
.beautifulmenu {
	width:100%;
}
#poimenu {
	top:initial !important;
	bottom:0px;
	left:10px;
	height:200px !important;
	width:calc(100% - 10px) !important;
}
#infoPopup {
	width:200px;
}
#info {
	width:100%;
	border-radius:5px;
}
#spinner {
	margin-left:10%;
	margin-right:10%;
}
}
