/*-------------- GLOBAL SETTINGS ---------------------*/
body {
	padding: 0;
	margin: 0;
}
html, body{
	height: 100%;
	width: 100%;
}
p {
	margin-top:5px;
	font-size:14px;
}
a {
	color:#0078a8;
}
details summary {
	color:grey;
	font-weight:bold;
	cursor:pointer;
	font-weight:bold;
}
h1, h2, h3, h4 {
	display:block;
	padding:0px;
	margin:0px;
}
h1 {
	font-size:20px;
}
h2 {
	font-size:14px;
	color:grey;
}
input[type=button] {
	margin:10px;
}
input[type=checkbox] {
	margin-top:5px;
}
input[type=text] {
	border:none;
	border-bottom:1px solid #ff531a;
}
select {
	margin-top:5px;
	margin-bottom:5px;
}
section {
	display:flex;
	width:100%;
	height:100%;
}
/*---------------------- POI DETAILS SETTINGS -------------------------------*/
.tabcontent {
	box-sizing:border-box;
	border-bottom:10px solid white;
	border-left:5px solid white;
	border-right:5px solid white;
	padding:5px;
	word-wrap:break-word;
	display:block;
	background-color:#f9e9d2;
}
.tabcontent ul {
	margin:0px;
	margin-left:3px;
	padding-left:10px;
	list-style-type: circle inside;
}
.tabcontent details ul {
	font-weight:initial;
	color:black;
	padding-left:20px;
	margin:0px;
	font-size:12px;
}
.small-icon {
	height:20px !important;
	width:20px !important;
	font-size:20px;
	margin-top:5px;
	margin-left:5px;
	margin-right:20px;
}
.subtitle {
	display:flex;
	color:#333333;
	font-size:12px;
}
.openinghours {
	color:black;
}
.socialmenu {
	display:flex;
	padding:3px;
}
.marker-active { /* Style for the active marker, the marker the user has clicked on */
	filter: brightness(300%);
}
#osm-attribution {
	color:grey;
	font-size:13px;
	background-color:white;
	padding:5px;
	text-align:center;
}
#infotext-swipe {
	color:grey;
	font-size:16px;
	background-color:white;
	padding:5px;
	text-align:center;
	display:none;
}
/*---------------------- COLOUR CODES FOR BABY FRIENDLINESS TAB -------------------------------- */
.color-green {
	color:#339933;
	fill:#339933;
	stroke:#339933;
}
.color-red {
	color:#ff2526;
	fill:#ff2526;
	stroke:#ff2526;
}
.color-yellow {
	color:#e6a400;
	fill:#e6a400;
	stroke:#e6a400;
}
.color-grey {
	color:#858585;
	fill:#858585;
	stroke:#858585;
}
.nounderlinestyle {
	text-decoration:none;
}
/*-------------------- LEFT BAR SETTINGS ----------------------------*/
.leftbar {
	width:45px;
	font-family:"Courier New", Courier, monospace;
	background-color:white;
}
.bar-icon {
	height:25px;
	width:25px;
	transition: 300ms;
}
.bar-icon:hover {
	cursor:pointer;
}
.menuitem {
	padding:10px;
}
.lang-select {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	top:100px;
}
.searchbar {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	min-width:400px;
	top:0px;
}
.about {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding:5px;
	top:0px;
}
.closebtn {
	float:right;
	padding:5px;
	font-size:24px;
	color:white;
}
.beautifulmenu {
	width:450px;
}
.bigmenu {
	padding:0px !important;
	top:0px;
	height:100% !important;
	width:450px;
}
.dropdown-menu {
	background-color:white;
	left:45px;
	padding:10px;
	display:none;
	z-index:2;
	position:absolute;
	max-width:50%;
}
.dropdown-menu a:hover {
	color:#b53085;
}
.dropdown-active, .tab-content-active, .tooltip-content-active { /* Style for opened dropdowns/tooltips (tab, sub menus, tips, more information, translated information) */
	display:block !important;
}
.tooltip {
	position:relative;
	cursor: pointer;
}
.tooltip-content {
	margin:5px;
	padding:5px;
	background-color:white;
	position:absolute;
	height:50px;
	width:200px;
	font-size:12px;
	text-align:justify;
	display:none;
}
.tab-content {
	display:none;
}
.item-active, .tooltip-active{ /* Style for clicked (active) tab labels (menus) */
	transition: 300ms;
	background-color: #ffe6f7;
}
#searchfield {
	width:600px;
}
#filtersGround label {
	display:block;
	margin-top:5px;
	cursor:pointer;
}
#autocomplete {
	background-color:white;
	display:none;
	padding:5px;
	z-index:5;
	top:0px;
	box-sizing:border-box;
}
#autocomplete .entry {
	background-color:#f9e9d2;
	border-bottom:5px solid white;
	padding:5px;
}
#autocomplete .entry:hover {
	cursor:pointer;
	background-color:rgb(255, 64, 0, 0.6);
}
#autocomplete span {
	margin:0px;
	padding:0px;
	color:#ff541aff;
}
#autocomplete address {
	padding-top:5px;
	padding-bottom:5px;
}
#poidetails {
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:14px;
	width:450px;
}
#poimenu {
	height:auto !important;
}
#advanced-search {
	font-size:16px;
	padding:5px;
	border:1px solid black;
}
/*------------------------- ON MAP MODALS -----------------*/
.info {
	display:none;
	font-size:22px;
	top:0px;
	position:absolute;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:5px;
	z-index:403;
	width:100%;
}
#map{
	z-index:1;
	flex:1;
}
#map-overlay-notify {
	z-index:401;
	position:absolute;
	width:100%;
	height:100%;
	padding-top:20%;
	font-size:26px;
	text-align:center;
	color:white;
	display:block;
	background-color:rgba(0,0,0,0.7);
}
#infoPopup {
	margin:auto;
	width:400px;
	margin-bottom:10px;
	padding:5px;
	border-radius:5px;
	background-color:rgba(255, 179, 153, 0.6);
}
/* ---------------------- SPINNER ---------------------------- */
#spinner {
	z-index:401;
	position:fixed;
	height:10px;
	width:100%;
}
#spinner .circle {
	width:calc(100% /3);
	height:100%;
	background-color:white;
}
#spinner #circle1 {
	animation-name:load1;
	animation-duration:1.5s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
#spinner #circle2 {
	animation-name:load2;
	animation-duration:1s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
#spinner #circle3 {
	animation-name:load3;
	animation-duration:1.5s;
	animation-delay:0s;
	animation-iteration-count:infinite;
}
@keyframes load1 {
	/*0% {background-color:white;}*/
	50% {background-color:#ffb399;}
	/*100% {background-color:white;}*/
}
@keyframes load2 {
	/*0% {background-color:white;}
	20% {background-color:white;}
	40% {background-color:white;}*/
	50% {background-color:#ff794d;}
	/*100% {background-color:white;}*/
}
@keyframes load3 {
	/*0% {background-color:white;}
	20% {background-color:white;}
	40% {background-color:white;}
	60% {background-color:white;}*/
	50% {background-color:#ffb399;}
	/*100% {background-color:white;}*/
}
/* ---------------------- POI RATING SYSTEM ------------------ */
#rating-default {
	fill:#004387;
	color:#004387;
	stroke:white;
}
#rating-green {
	fill:#01c401;
	color:#01c401;
	stroke:white;
}
#rating-yellow {
	fill:#ffd900;
	color:#ffd900;
	stroke:white;
}
#rating-red {
	fill:#bb0202;
	color:#bb0202;
	stroke:white;
}
/*------------------------ MOBILE VIEW ------------------------*/
@media only screen and (max-width:600px) {
#searchfield {
	width:calc(100% - 3em);
}
}
@media only screen and (max-width:800px) {
section {
	display:block;
}
.dropdown-menu {
	box-sizing:border-box;
	max-width:100%;
}
.leftbar {
	display:grid;
	grid-template-columns:auto auto auto auto;
	width:100%;
	height:45px;
}
#map {
	position:absolute !important;
	width:100% !important;
	height:calc(100% - 45px) !important;
}
#searchfield {
	width:calc(100% - 30px);
}
.beautifulmenu {
	width:100%;
}
.lang-select, .searchbar, .about, .bigmenu, .beautifulmenu {
	top:45px;
	left:0px;
	width:100%;
}
.about {
	top:45px;
	width:100%;
}
.tabcontent {
	display:none;
}
.tab-visible {
	display:block;
}
#infotext-swipe {
	display:block;
}
#poimenu, #poidetails {
	top:initial !important;
	bottom:0px;
	overflow:hidden;
	width:100%;
}
#infoPopup {
	width:200px;
}
#info {
	width:100%;
	border-radius:5px;
}
.mobile-handle {
	background-color: lightgrey;
	padding: 2.5px 21px;
  	display: inline-block;
  	cursor: pointer;
  	border-radius: 50px;
	margin-bottom:2px;
	margin-top: 0px !important;
}
.tooltip-content {
	right:0%;
}
}
